html{
	height: 100%;
	font-family: helvetica;
}
body{
	margin: 0;
	height: 100%;
}
nav{
	width: 100%;
	display: inline-block;
	background: linear-gradient(to right, rgba(255,255,255,1) 0%, rgba(3,169,244,1) 15%);
	align-items: center;
}
nav img{
	width: 50px;
	height: 50px;
	float: left;
	position: inline;
	margin: 15px;
}
nav ul{
	list-style: none;
	display: flex;
	float: right;
	margin-right: 5px;
}
nav ul li{
	margin-right: 15px;
	margin-top: 15px;
	font-size: 18px;
	cursor: hand;
	cursor: pointer;
}
nav ul li a{
	text-decoration:none;
	color: black;
}
header{
	background-image: url("img/header.png");
	height: 90%;
	background-size: cover;
}
.titular{
	font-size: 35px;
	padding-top: 3em;
	margin-left: 4em;
}
.titular h1{
	-webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
}
.titular p{
	font-size: 30px;
	line-height: 26px
}
.seccionChica{
	width: 80%;
	margin: 4% 10% 4% 10%;
	display: flex;
	justify-content: space-around;
}
.iconos{
	width: 30%;
	text-align: center;
}
.iconos img{
	width: 70%;
	background-size: cover;
}

.segundaSeccion{
	width: 100%;
	background-image: url("img/tetris.png");
	background-size: cover;
	height: 60%;
	background-attachment: fixed;
}

.titular h2{
	-webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
    margin: 0;
}
.boton{
 	background-color: #03a9f4;
 	border-radius: 5%;
 	text-decoration: none;
 	padding: 10px 20px 10px 20px;
 	color: #ffffff;
 	font-size: 20px;
}
.boton:hover{
	background: #0091ea;
}

.cuadrados{
	height: 65%
}
.cuadrado{
	width: 22%;
	text-align: center;
	height: 80%;
	display: flex;
	transition: all 1s;
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
}
.cuadrado:hover{
	-webkit-transform: rotateY(180deg);
	-moz-transform: rotateY(180deg);
}
.uno{
	background-image: url("img/videos.jpg");
	background-size: cover;
	justify-content:center;
}
.dos{
	background-image: url("img/abuela.jpg");
	background-size: cover;
	justify-content:center;
	color: #EFEFEF;
}
.tres{
	background-image: url("img/pacman.jpg");
	background-size: cover;
	justify-content:center;
	color: #EFEFEF;
}
.cuatro{
	background-image: url("img/control.jpg");
	background-size: cover;
	justify-content:center;
}
.end{
	align-self: flex-end;
	margin-bottom: 10px;
	-moz-transform: translatez(-100px);
	-webkit-transform: translatez(-100px);
}
.end h4{
	font-size: 25px;
	-webkit-transform: rotateY(180deg);
	-moz-transform: rotateY(180deg);
}
.end p{
	font-size: 18px;
	-webkit-transform: rotateY(180deg);
	-moz-transform: rotateY(180deg);

}

.cuartaSeccion{
	width: 100%;
	background: linear-gradient(140deg, rgba(126, 121, 120, 0.6) 0%, rgba(200, 200, 200, 0.6) 20%, rgba(220, 220, 220, 0.6) 70%, rgba(240, 240, 240, 1) 99%);
	background-size: cover;
	height: 65%;
	display: flex;
	flex-wrap: wrap
}
.cuartaSeccion h2{
	width: 100%;
	text-align: center;
}
.imagenes{
	width: 80%;
	margin-right: 10%;
	margin-left: 10%;
	align-self: flex-end; 
	margin-bottom: 10px;
	justify-content:space-around;
	display: flex;
	
}
.imagenes img{
	width: 120px;
	height: 120px;
	border-radius: 50%;
	margin-bottom: 5%;
}
.textos{
	width: 100%;
	margin-top: 1.2em;
}
.textos p{
	text-align: center;
	font-size: 30px;
	font-style:italic;

}
.ocultar{
	display: none;
}
.mostrar{
	display: block;
}

footer{
	background-color: black;
	text-align: center;
}
.mensaje{
	-webkit-margin-before: 0em;
	margin: 0;
	padding-top: 2em;
	color: white;
	text-transform: uppercase;
	font-size: 40px;
}
footer span{
	color: white;
	font-size: 28px;
	margin: 0 10px ;
	
}
.madeIn{
	color: #e1f5fe;
	height: 10%;
	background-color: 
	font-size:10px;
	font-style:italic;
	margin-top: 4em;
	margin-bottom: 0px;
}
.madeIn p{
	margin-bottom: 0;
}
.madeIn a{
	text-decoration: none;
	color: #81d4fa; 
}
@media screen and (max-width:1100px) and (orientation: portrait){
	nav{
		display: none;
	}
	.cuadrados{
		height: 130%;
		display:flex;
		flex-wrap: wrap;
	}
	.cuadrado{
		width: 44%;
		height: 40%;
	}
	.segundaSeccion{
		height: 40%;
		display: flex;
		align-items: center;
	}
	.segundaSeccion .titular{
		padding-top: 0;
	}
	.titular{
		margin: 0 10%;
		text-align: center;
	}
	.titular h1{
		margin-bottom: 90px;
		font-size: 60px;
	}
	.titular p{
		line-height: 1em;
		font-size: 38px;
	}
	.titular h2{
		-webkit-margin-before: 1.3em;
		-webkit-margin-after: 1.3em;
	}
	.segundaSeccion p{
		text-align: left;
	}
	.boton{
	 	padding: 10px 20px;
	 	font-size: 18px;
	}
	.textos{
		width: 90%;
		margin: 1.2em 5% 0 5%
	}
	.textos p{
		font-size: 40px;
		margin-bottom: 25px;
	}
	.cuadrados{
		height: 97%;
		width: 97%;
		margin:1.5%;
	}
	.cuadrado{
		width: 45%;
		height: 45%;
		margin: 2.5%;
		padding: 0;
	}
	.cuartaSeccion{
		height: 50%
	}
	.textos{
		margin-top: 2em;
	}
	.madeIn{
		margin-top: 3em;
		padding-bottom: 1em;
	}
}
@media screen and (max-width:800px) and (orientation: portrait){
	.titular h2{
		font-size: 40px;
	}
	.titular p{
		font-size: 30px;
	}
}
@media screen and (max-width:800px) and (orientation: landscape){
	header{
		height: 100%;
	}
	nav{
		display: none;
	}
	.titular{
		height: 80%;
		width: 100%;
		align-items: center;
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		padding-top: 0em;
		margin-left: 0em;
	}
	.titular h1{
		font-size: 36px;
		padding-top: 1em;
	}
	.titular h2{
		font-size: 36px;
		padding-top: 1em;
	}
	.titular p{
		font-size: 30px;
		padding-bottom: 1em;
	}
	.segundaSeccion{
		height: 100%;
	}
	.segundaSeccion p{
		padding: 1em;
	}
	.cuadrados{
		height: 100%;
		width: 100%;
		margin: 4% 0%;
		display: flex;
		align-items: center;
	}
	.cuartaSeccion{
		display: none;
	}
}
@media screen and (max-width:600px) and (orientation: portrait){
	.titular h1{
		font-size: 30px;
		text-align: center;
		margin-bottom: 45px;
	}
	.titular h2{
		font-size: 16px;
	}
	.titular p{
		font-size: 16px;
		line-height: 20px;
	}
	.segundaSeccion p{
		-webkit-margin-before: 0.5em;
		-webkit-margin-after: 0.5em;
	}
	.segundaSeccion .titular{
		padding-top: 0;
	}
	.end{
	-webkit-transform: translatez(-20px);
	-moz-transform: translatez(-20px);
	}
	.cuadrados{
		height: 100%;
		width: 100%;
		margin:0;
	}
	.cuadrado{
		width: 50%;
		height: 50%;
		margin: 0;
		padding: 0;
	}
	.cuartaSeccion{
		height: 80%;
	}
	.imagenes img{
		width: 90px;
		max-height: 90px;
	}
	.textos p{
		font-size: 24px;
	}
	.puf{
		display: none;
	}
	.cuartaSeccion{
		display: none;
	}
}
@media screen and (max-width:600px) and (orientation: landscape){
	.titular h1{
		font-size: 34px;
	}
	.titular h2{
		font-size: 34px;
	}
	.titular p{
		font-size: 26px;
	}
}
@media screen and (max-width:420px) and (orientation: portrait){
	.seccionChica{
		flex-wrap: wrap;
	}
	.iconos{
		width: 100%;
		margin-top: 30px;
	}
	.segundaSeccion p{
		-webkit-margin-before: 1.5em;
		-webkit-margin-after: 1.5em;
	}
	.titular{
		margin: 0em 1em;
	}
	.segundaSeccion{
		height: 70%;
	}
	.titular h1{
		font-size: 34px;
	}
	.titular h2{
		font-size: 28px;
		margin-top: 0;
	}
	.titular p{
		font-size: 22px;
		line-height: 30px;
	}
	@media screen and (max-width:320px){
		.titular p{
			font-size: 20px;
			line-height: initial;
	}
		.titular h2{
			font-size: 23px;
	}
		header .titular p{
			background-color: rgba(255, 255, 255, 0.5);
			padding: 4px;
		}
}
